flask>=3.0.3
flask-cors>=4.0.1
python-dotenv>=1.0.1
requests>=2.32.3
pydantic>=2.9.0
pydantic-settings>=2.10.1
bandit>=1.7.10
radon>=6.0.1
astroid>=3.2.2
pylint>=3.2.3
ollama>=0.4.2
gunicorn>=22.0.0
pymongo>=4.8.0
pyjwt>=2.8.0
bcrypt>=4.2.0
mongomock>=4.1.2
